.contactSection {
  background-color: #f9f9f9;
  padding: 100px 5%;
  color: #222;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flexWrapper {
    
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.eyebrow {
  color: #008751;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flexWrapper {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

/* Info Side Styling */
.contactInfo {
  flex: 1;
  background: #001a0d; /* Deep Green from branding */
  color: white;
  padding: 40px;
  border-radius: 20px;
}

.infoGroup {
  margin-bottom: 30px;
}

.infoGroup h3 {
  color: #00ff88;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.infoGroup p {
  margin-bottom: 8px;
  opacity: 0.9;
}

/* Form Side Styling */
.formWrapper {
  flex: 1.5;
  height: 30%;
  
}

.formWrapper h3 {
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #008751;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

 

}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup label {
  font-weight: 600;
  font-size: 0.9rem;
}

.inputGroup input, .inputGroup textarea {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
}

.inputRow {
  display: flex;
  gap: 20px;
}

.inputRow .inputGroup {
  flex: 1;
}

.submitBtn {
  background: #008751;
  color: white;
  padding: 18px;
  border: none;
  border-radius: 8px;
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 2rem;
  transition: background 0.3s;
}

.submitBtn:hover {
  background: #006b40;
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 1000px) {
  .flexWrapper {
    flex-direction: column;
  }
  
  .inputRow {
    flex-direction: column;
  }

  .contactInfo{
    width: 80%;
  
   
   
  }
  .formWrapper {
    width: 95%;

  }
 
  
 .contactForm{
    width: 100%;
 } 
}